aws_region  = "us-east-1"
environment = "dev"

allowed_cidr_blocks = ["0.0.0.0/0"]

container_image = ""
certificate_arn = ""

api_desired_count = 1
enable_multi_az   = false

alarm_email = ""

callback_urls = ["http://localhost:3000/callback"]
logout_urls   = ["http://localhost:3000/logout"]
